:root{
    --color-1: #90C2E7;
    --color-2: #4E8098;
    --color-3: #00A9A5;
    --color-4: #0B5351;
    --color-5: #092327;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
html, body{
    overflow-x: hidden;
}
.App{
    display: flex;
    flex-direction: column;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-5);
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(48, 30px); /* Adjust the number of columns and size as needed */
    gap: 2px;
  }
  
  .tile {
    width: 30px; /* Adjust the size of each tile as needed */
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: var(--bg-color);
  }
  .tile.active{
    animation: 3s multicolor;
    background-color: var(--color-3);
  }

  @keyframes multicolor {
    0% {
        background-color: var(--color-5);
    }
    33% {
        background-color: var(--color-4);
    }
    66% {
        background-color: var(--color-2);
    }
    100% {
        background-color: var(--color-3);
    }
}