:root{
  --color-1: #90C2E7;
  --color-2: #4E8098;
  --color-3: #00A9A5;
  --color-4: #0B5351;
  --color-5: #092327;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}
html, body{
  overflow-x: hidden;
}
.App{
  display: flex;
  flex-direction: column;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-5);
}
.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(48, 15px); /* Adjust the number of columns and size as needed */
  gap: 2px;
}

.tile {
  width: 1rem; /* Adjust the size of each tile as needed */
  height: 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: var(--bg-color);
}
.tile.active{
  animation: 3s multicolor;
  background-color: var(--color-3);
}

.header{
  /* height: 10rem; */
  width: 100%;
  background-color: var(--color-1);
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.logo{
  /* background-color: blue; */
  margin-left: 6rem;
  cursor: pointer;
}
.logo img{
  height: 10rem;
  scale: 1.5;
}
.links{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  list-style: none;
}
.links li{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: .3s;
}
.links li:after{
  background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: var(--color-5);
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
.links :hover:after{
  width: 100%;
  left: 0;
}

@keyframes multicolor {
  0% {
      background-color: var(--color-5);
  }
  33% {
      background-color: var(--color-4);
  }
  66% {
      background-color: var(--color-2);
  }
  100% {
      background-color: var(--color-3);
  }
}